/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@import "@fontsource/oswald/200.css";
@import "@fontsource/oswald/300.css";
@import "@fontsource/oswald/400.css";
@import "@fontsource/oswald/500.css";
@import "@fontsource/oswald/600.css";
@import "@fontsource/oswald/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  padding: 0;
  line-height: inherit;
}

.custom-text-shadow {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
